{% extends "base.html" %}

{%block content%}
<div class="container mt-5 text-center">
    <h1 style="color: #772311;">ჩვენს შესახებ</h1>
    <p class="lead" style="color: #555;">გაიცანი ჩვენი მიზანი და ჩვენი ისტორია</p>
</div>
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3 style="color: #772311;">Travel Diary/მოგზაურის დღიური</h3>
      <p>ჩვენი მიზანია შეიქმნას სივრცე, სადაც მოგზაურები შეძლებენ გაუზიარონ ერთმანეთს მოგზაურობის ისტორიები, რეალური გამოცდილებები და პრაქტიკული რჩევები საქართველოს სხვადასხვა კუთხეებზე.<br>
   ჩვენ გვჯერა, რომ საუკეთესო მოგზაურობის გიდი არის სწორედ ის ადამიანი, რომელმაც უკვე თავად გამოიარა ეს გზა და მზადაა სხვებს გაუზიაროს თავისი ცოდნა და ემოცია.</p>

<p>Travel Diary გახდება ადგილი, სადაც მომხმარებლები არა მხოლოდ წაიკითხავენ რჩევებს, არამედ თავად გახდებიან ბლოგის ნაწილი — შექმნიან კონტენტს, გაუზიარებენ საკუთარ თავგადასავლებს და აღმოაჩენენ ნაკლებად ცნობილ, მაგრამ საოცარ ლოკაციებს.</p>
<h3 style="color: #772311;">„გზა, რომელიც შენ გაიარე, სხვისთვისაც შეიძლება გახდეს აღმოჩენა.“
</h3>
    </div>
    <div class="col-md-6 text-center">
      <img src="static/images/logo.png" class="img-fluid rounded" style="max-height: 400px;" alt="ჩვენი გუნდი">
    </div>
  </div>
</div>

{% endblock %}