{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="p-5 shadow rounded bg-light" style="width: 100%; max-width: 500px;">
      <form id="myForm" method="post" enctype="multipart/form-data" >
            {{form.hidden_tag()}}

     <div class="mb-3 row">
         {{form.image.label}}
        {{form.image(class="form-control")}}
      </div>

     <div class="mb-3 row">
        {{form.name(class="form-control", placeholder="Enter the product name")}}
      </div>

     <div class="mb-3 row">
        {{form.description(class="form-control", placeholder="Enter the product description")}}
      </div>

      <div class="mb-3 row">
        {{form.add_blog(class="btn btn-primary w-100")}}
      </div>

      </form>
    </div>
  </div>


{% endblock %}