{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form id="myForm" method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
        <h3> Edit Blog</h3>
       <div class="mb-3 row">
        {{form.image.label}}
        {{form.image(class="form-control")}}
      </div>

     <div class="mb-3 row">
        {{form.name(class="form-control", placeholder="blog name")}}
      </div>

     <div class="mb-3 row">
        {{form.description(class="form-control", placeholder="blog description")}}
      </div>

      <div class="mb-3 row">
        {{form.add_blog(class="btn btn-primary w-100")}}
      </div>

      </form>
    </div>
  </div>
</div>


{% endblock %}