{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="p-5 shadow rounded bg-light" style="width: 100%; max-width: 500px;">
    <form id="myForm" method="POST" action="/register">
      {{ form.hidden_tag() }}

      <h3 class="text-center mb-4">რეგისტრაცია</h3>
     <div class="mb-3 row">
        {{form.username(class="form-control", placeholder="name")}}
      </div>

      <div class="mb-3 row">
        {{form.password(class="form-control", placeholder=" password")}}
      </div>

      <div class="mb-3 row">
        {{form.register_button(class="btn btn-primary w-100")}}
      </div>

      </form>
    </div>
  </div>



{% endblock %}